@import '../../variables.scss';

.main {
    display: flex;
    color: $white-color;

    .main__section {
        flex-basis: 50%;
    }
}

.financetech__inforamtion {
    margin: 100px auto;

    .main__section--title {
        font-size: 4rem;
        margin:  0;
    }
}