@import '../../variables.scss';

.main {
    display: flex;
    color: $white-color;

    .main__section {
        flex-basis: 50%;
    }
}

.financetech__inforamtion {
    margin: 100px auto;

    .main__section--title {
        font-size: 4rem;
        margin: 0;
        filter: drop-shadow(2px 2px 2px #000);
    }

    .section__title--purple {
        width: 400px;
        background-image: linear-gradient(to right, $blue-color, $purple-color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}