@import '../../variables.scss';

.main {
    display: flex;
    color: $white-color;
    margin: 100px auto;

    .main__section {
        flex-basis: 50%;
        padding-right: 40px;
    }
}

.financetech__inforamtion {
    .main__section--title {
        font-size: 4rem;
        margin: 0;
        filter: drop-shadow(2px 2px 2px $black-color);
    }

    .section__title--purple {
        width: 400px;
        background-image: linear-gradient(to right, $blue-color, $purple-color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .main__section--summary {
        width: 515px;
        margin: 20px 0;

        font-size: 1.1rem;
        line-height: 1.4;
        letter-spacing: 1px;
        word-spacing: 1px;

        filter: drop-shadow(2px 2px 2px $black-color);
    }

    .consultation__button {
        position: relative;
        background-color: transparent;
        cursor: pointer;
        color: $white-color;

        font-size: 0.9rem;
        font-weight: bold;

        margin-top: 10px;
        padding: 16px 40px;

        border: 3px solid;
        border-image: linear-gradient(to right, $purple-color, $blue-color) 1 1;
    }

    .consultation__button:hover {
        border: 3px solid $white-color;
    }
}